.end{
    background-color: darkolivegreen;
   margin: 0px!important;
}
.from{
    background-image: url('D:/men.jpg');
    width: 100%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
}